<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Login v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a routerLink="/pages/movies-list" class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">I-Ciné</h2>
        </a>

        <h4 class="card-title mb-1">Bienvenue sur I-Ciné! </h4>
        <p class="card-text mb-2">Veuillez vous connecter à votre compte et commencer l'aventure</p>

        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
          <div class="alert-body">
            <p>{{ error }}</p>
          </div>
        </ngb-alert>
      <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <div class="form-group">
          <label for="username" class="form-label">Email</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            placeholder="john@example.com"
            aria-describedby="username"
            tabindex="1"
            autofocus
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">L'e-mail est réquis</div>
            <div *ngIf="f.username.errors.email">L'e-mail doit être une adresse e-mail valide</div>
          </div>
        </div>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="login-password">Mot de passe</label>
            <!-- <a routerLink="/pages/authentication/forgot-password-v1">
              <small>Forgot Password?</small>
            </a> -->
          </div>
          <div class="input-group input-group-merge form-password-toggle">
            <input
              [type]="passwordTextType ? 'text' : 'password'"
              formControlName="password"
              class="form-control form-control-merge"
              tabindex="2"
              placeholder="·········"
              aria-describedby="login-password"
              [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
            />

            <div class="input-group-append">
              <span class="input-group-text cursor-pointer"
                ><i
                  class="feather font-small-4"
                  [ngClass]="{
                    'icon-eye-off': passwordTextType,
                    'icon-eye': !passwordTextType
                  }"
                  (click)="togglePasswordTextType()"
                ></i
              ></span>
            </div>
          </div>
          <div
            *ngIf="submitted && f.password.errors"
            class="invalid-feedback"
            [ngClass]="{ 'd-block': submitted && f.password.errors }"
          >
            <div *ngIf="f.password.errors.required">Le mot de passe est réquis</div>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="remember-me" tabindex="3" />
            <label class="custom-control-label" for="remember-me"> Se souvenir de moi</label>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="5" rippleEffect>
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Se connecter
        </button>
      </form>
     <div class="divider my-2">
          <div class="divider-text">ou</div>
      </div>
      <p class="text-center mt-2">
        <span>Nouveau sur notre plateforme ?</span>
        <a routerLink="/pages/registration">
          <span>&nbsp;Créer un compte</span>
        </a>
      </p>
  </div>
</div>


