<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
  
      <div class="row mb-2">
        <div class=" col-12 pr-sm-1">
          <div class="input-group input-group-merge">
            <input
              type="text"
              class="form-control"
              name="search"
              placeholder="Rechercher"
              [(ngModel)]="keyword" (ngModelChange)="update()"
            />
            <div class="input-group-append">
              <span class="input-group-text cursor-pointer">
                <i data-feather="search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="basic-table">
        <div class="col-12">
          <div class="card">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of usersList">
                    <td *ngIf="user.id !== currentUser.id">{{user.lastName}}</td>
                    <td *ngIf="user.id !== currentUser.id">{{user.firstName}}</td>
                    <td *ngIf="user.id !== currentUser.id">{{user.email}}</td>
                    <td *ngIf="user.role == 'admin' && user.id !== currentUser.id">Administrateur</td>
                    <td *ngIf="user.role == 'user' && user.id !== currentUser.id">Utilisateur</td>
                    <td class="overflow-hidden" *ngIf="user.id !== currentUser.id">
                      <div ngbDropdown container="body">
                        <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                          <i data-feather="more-vertical"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <a ngbDropdownItem (click)="clickEditUser(user, modalBasic)"
                            ><i data-feather="edit-2" class="mr-50"></i><span>Modifier</span></a
                          ><a ngbDropdownItem (click)="deleteUser(user.email)"
                            ><i data-feather="trash" class="mr-50"></i><span>Supprimer</span></a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav class="m-2">
                <div class="d-flex align-items-center">
                  <ul class="pagination mb-0">
                    <li class="page-item" [class.disabled]="page == 1">
                      <a class="page-link" (click)="prevPage()">Précédent</a>
                    </li>
                    <ng-container *ngFor="let i of totalPages">
                      <li class="page-item"  [class.active]="i == page">
                        <a class="page-link" (click)="page=i">{{i+1}}</a>
                      </li>
                    </ng-container>
                    <li class="page-item" [class.disabled]="totalPages ==page">
                      <a class="page-link" (click)="nextPage()">Suivant</a>
                    </li>
                  </ul>
                  <label class="d-flex align-items-center mx-2 mb-0">
                    Afficher
                    <select class="form-control mx-2 selectPageSortWidth" [(ngModel)]="size" (ngModelChange)="update()">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                    </select>
                    lignes
                  </label>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Add and Update User Modal -->
<ng-template #modalBasic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="changeClassetitle">Modifier une classe</h4>

    <button type="button" id="close" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form #userForm="ngForm" class="event-form needs-validation" *ngIf="selectedUser">
      <input type="hidden" class="form-control" name="id"  [(ngModel)]="selectedUser.id">
      <div class="mb-2">
        <label for="lastName" class="form-label">Nom</label>
        <input 
          type="text" 
          class="form-control" 
          name="lastName"  
          [(ngModel)]="selectedUser.lastName" 
          placeholder="Entrer le nom" 
          required
          disabled
          [class.error]="userSubmitted && formLastName.invalid"
          #formLastName="ngModel"
        >
        <span *ngIf="userSubmitted && formLastName.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="formLastName.errors.required">Le nom est requis!</small>
        </span>
      </div>
      <div class="mb-2">
        <label for="firstName" class="form-label">Prénom</label>
        <input 
          type="text" 
          class="form-control" 
          name="firstName"  
          [(ngModel)]="selectedUser.nom" 
          placeholder="Entrer le prénom" 
          required
          disabled
          [class.error]="userSubmitted && formFirstName.invalid"
          #formFirstName="ngModel"
        >
        <span *ngIf="userSubmitted && formFirstName.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="formFirstName.errors.required">Le prénom est requis!</small>
        </span>
      </div>
      <div class="mb-2">
        <label for="email" class="form-label">E-mail</label>
        <input 
          type="email" 
          class="form-control" 
          name="email"  
          [(ngModel)]="selectedUser.email" 
          placeholder="Entrer l'email" 
          required
          disabled
          [class.error]="userSubmitted && formEmail.invalid"
          #formEmail="ngModel"
        >
        <span *ngIf="userSubmitted && formEmail.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="formEmail.errors.required">Le mail est requis!</small>
        </span>
      </div>
      <!-- <div class="mb-1">
        <label for="role" class="form-label">Rôle</label>
        <select required  class="form-select" name="role" [(ngModel)]="selectedUser.role">
          <option class="form-option" [selected]="selectedUser.role" ngValue="user">Utilisateur</option>
          <option class="form-option" [selected]="selectedUser.role" ngValue="admin">Administrateur</option>
        </select>
      </div> -->
      <div class="mb-2">
        <label for="city-column">Type du compte</label>
        <ng-select
          [items]="accountTypes"
          [(ngModel)]="selectedUser.role"
          class="ng-select-size-sm"
          bindLabel="role"
          name="role"
          placeholder="Type du compte"
        ></ng-select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" (click)="updateUserRole(selectedUser)" class="btn btn-primary">Modifier</button>
  </div>
</ng-template>
<!-- / Add and Update ecole Modal -->
  
  
