
<div class="content-wrapper container-xxl p-0">
  <div class="content-body" >
    <!-- content-header component -->

  <!-- ngb-carousel component -->
  <ngb-carousel [pauseOnHover]="false" *ngIf="getDisplayedMovies()" class="fixed-carousel">
    <ng-template ngbSlide *ngFor="let film of getDisplayedMovies(); let i = index">
      <div class="carousel-img-wrapper">
        <img [src]="film.imageUrl" class="full-width-image" alt="Slide {{i + 1}}" />
      </div>
      <div class="carousel-caption desc-carousel">
        <h3 class="text-white">{{ film.title }}</h3>
        <p class="truncate text-white">{{ film.description }}</p>
        <button type="button" [routerLink]="['/pages/panier']" class="btn btn-gradient-warning">Réserver</button>
      </div>
    </ng-template>
  </ngb-carousel>



  <div class="divider dividerhome">
    <div class="divider-text"><h3>Films 🎞️</h3></div>
  </div>



  <section id="home-page" class="fixas">
    
    
    
    <div class="row mb-2">
        <div class=" col-12 pr-sm-1">
          <div class="input-group input-group-merge">
            <input
              type="text"
              class="form-control"
              name="search"
              placeholder="Rechercher"
              [(ngModel)]="keyword" (ngModelChange)="update()"
            />
            <div class="input-group-append">
              <span class="input-group-text cursor-pointer">
                <i data-feather="search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="basic-table">
        <div class="col-12">
          <div class="">
            <div class="table-responsive">
              
              <div class="product-grid">
                <div *ngFor="let film of moviesList" [routerLink]="['/pages/panier', film.id]" class="product">
                  <div class="test-img">
                    <img [src]="film.imageUrl" alt="Image du produit" class="film-image">
                  </div>
                  <div>
                    <h3>{{ film.title }}</h3>
                    <p>Sortie: <strong>{{ film.releaseDate | date:'dd MMM yyyy' }}</strong></p>
                  </div>
                  <p>Genre: <strong>{{ film.category }}</strong></p>
                </div>
              </div>

              <!--Ancienne version !-->
              <!-- <table class="table table-hover table-sep">
                <tbody>
                  <tr *ngFor="let film of moviesList" class="zoom-on-hover custom-tr" (click)="modalOpen(modalBasic, film)">
                    <td><img [src]="film.imageUrl" alt="Image du film" class="film-image"></td>
                    <td style="white-space: nowrap;"><strong>{{ film.title }}</strong><br><br>Sortie: <strong>{{ film.releaseDate | date:'dd MMM yyyy' }}</strong></td>
                    <td style="white-space: nowrap;">Genre: <div style="display: inline;" class="badge badge-light-primary">{{ film.category }}</div></td>
                  </tr>
                </tbody>
              </table> -->
              <nav class="m-2">
                <div class="d-flex align-items-center">
                  <ul class="pagination mb-0">
                    <li class="page-item" [class.disabled]="page == 1">
                      <a class="page-link" (click)="prevPage()">Précédent</a>
                    </li>
                    <ng-container *ngFor="let i of totalPages">
                      <li class="page-item"  [class.active]="i == page">
                        <a class="page-link" (click)="page=i">{{i+1}}</a>
                      </li>
                    </ng-container>
                    <li class="page-item" [class.disabled]="totalPages ==page">
                      <a class="page-link" (click)="nextPage()">Suivant</a>
                    </li>
                  </ul>
                  <label class="d-flex align-items-center mx-2 mb-0">
                    Afficher
                    <select class="form-control mx-2 selectPageSortWidth" [(ngModel)]="size" (ngModelChange)="update()">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                    </select>
                    lignes
                  </label>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>


     
  </section>
  </div>
</div>
