.carousel-img-wrapper {
  display: flex;
  justify-content: center;
}

.avatar-container {
  text-align: center;
  margin: 0 10px; /* Marge entre les div */
}
.fixed-carousel {
  max-height: 100%; /* Ajustez la hauteur maximale selon vos besoins */
  max-width: 100%; /* Pour maintenir la largeur proportionnelle */
}
.full-width-image {
  width: 100%; /* L'image occupe toute la largeur du parent (carousel) */
  height: 700px; /* La hauteur s'ajuste proportionnellement à la largeur */
}

.desc-carousel {
  background-color: rgba(74, 72, 72, 0.183);
  border-radius: 16px;
}




.film-image {
  width: 150px; /* Largeur souhaitée en pixels */
  height: 190px; /* Hauteur souhaitée en pixels */
  object-fit: cover; /* Pour ajuster l'image dans les dimensions spécifiées */
  border-radius: 10px;
}

.zoom-on-hover {
  transform: scale(1); /* Taille normale */
  transition: transform 0.3s ease; /* Transition fluide */

  /* L'effet de zoom est appliqué au survol */
  &:hover {
    transform: scale(1.01); /* Agrandissement de 105% lors du survol */
  }
}

.table-sep
{
 border-collapse : separate;
 border-spacing : 0 30px;
}

.dividerhome{
  padding: 25px;
}
.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
}

.product {
  display: flex;
  align-items: center; /* Alignement vertical au centre */
  padding: 20px;
  margin: 20px;
  border-radius: 16px;
  transition: transform 0.3s;
  background-color: rgba(166, 0, 255, 0.1);

}
.product * {
  flex-grow: 1;
}



.product:hover {
  transform: scale(1.02);
}
