<div class="content-wrapper container-xxl p-0">
  <div class="content-body" >
    <!-- content-header component -->

  <!-- ngb-carousel component -->
  <ngb-carousel [pauseOnHover]="false" *ngIf="filmUne" class="fixed-carousel">
    <ng-template ngbSlide *ngFor="let film of filmUne; let i = index">
      <div class="carousel-img-wrapper">
        <img [src]="film.url" class="img-fluid full-width-image" alt="Slide {{i + 1}}" />
      </div>
      <div class="carousel-caption">
        <h3 class="text-white">{{ film.nom }}</h3>
        <p class="truncate text-white">{{ film.desc }}</p>
        <button type="button" class="btn btn-gradient-warning">Réserver</button>
      </div>
    </ng-template>
  </ngb-carousel>







  <section id="home-page" class="fixas">
      <!-- ngb-carousel component -->
      <div class="divider divider-left">
        <div class="divider-text"><h2>À l'affiche...</h2></div>
      </div>
      <ngb-carousel [interval]="0" [showNavigationIndicators]="false" *ngIf="filmAffiche">
        <ng-template ngbSlide *ngFor="let slide of filmSlides">
          <div class="carousel-img-wrapper" style="padding: 16px">
            <div class="film-container zoom-on-hover" *ngFor="let film of slide">
              <div class="avatar-container" style="width: 150px; height: 280px;">
                <a [href]="film.url" class="avatar-container" style="text-decoration: none;">
                  <img [src]="film.url" width="100%" height="80%" class="img-fluid ml-10" style="border-radius: 8px;" alt="Random slide" />
                  <h4>{{ film.nom }}</h4>
                </a>
              </div>
            </div>
          </div>
          
          <div class="carousel-caption"></div>
        </ng-template>
      </ngb-carousel>
      
      <div class="divider divider-left">
        <div class="divider-text"><h2>Avant-première...</h2></div>
      </div>
      <ngb-carousel [interval]="0" [showNavigationIndicators]="false" *ngIf="filmAffiche">
        <ng-template ngbSlide *ngFor="let slide of filmSlides2">
          <div class="carousel-img-wrapper" style="padding: 16px">
            <div class="film-container zoom-on-hover" *ngFor="let film of slide">
              <div class="avatar-container" style="width: 150px; height: 280px;">
                
                <a [href]="film.url" class="avatar-container" style="text-decoration: none;">
                  <img [src]="film.url" width="100%" height="80%" class="img-fluid ml-10" style="border-radius: 8px;" alt="Random slide" />
                  <h4>{{ film.nom }}</h4>
                </a>
              </div>
            </div>
          </div>
          
          <div class="carousel-caption"></div>
        </ng-template>
      </ngb-carousel>
      
  
  </section>
  </div>
</div>
