<div class="body">
    <div class="recap" *ngIf="currentSession">
        <div *ngIf="(orderSucces==false && outOfStock==false ) && currentSession.remaningPlaces>0">
            <h3 class="text-uppercase">{{currentSession.date | date: 'EEEE d MMMM YYYY' }}</h3>
            <h4>{{currentSession.date | date: 'HH:mm' }}</h4>
        </div>
        <!-- Erreur survenue -->
        <ngb-alert *ngIf="ordreFail==true" [type]="'danger'" [dismissible]="false">
            <div class="alert-body"><strong>Une erreur est survenue lors du paiement!</strong> Veuillez réessayer...</div>
        </ngb-alert>
        <ngb-alert *ngIf="currentSession.remaningPlaces<1" [type]="'danger'" [dismissible]="false">
            <div class="alert-body"><strong>Nous sommes désolés,</strong> mais toutes les places ont été vendues.</div>
        </ngb-alert>
        <ngb-alert *ngIf="outOfStock==true" [type]="'danger'" [dismissible]="false">
            <div class="alert-body"><strong>Nous sommes désolés,</strong> mais toutes les places ont été vendues.</div>
        </ngb-alert>
        <ngb-alert *ngIf="orderSucces==true" [type]="'success'" [dismissible]="false">
            <div class="alert-body"><strong>Merci pour votre commande !</strong> Votre place pour la séance du {{ currentSession.date | date: 'EEEE d MMMM YYYY à HH:mm' }} a été bien réservée, à très bientôt !</div>
        </ngb-alert>
        <form *ngIf="outOfStock==false && orderSucces==false && currentSession.remaningPlaces>0">
            <p>Choisissez votre nombre de tickets :</p>
            <div class="count">
                <button type="button" (click)="soustraire()" class="btn btn-primary" rippleEffect>
                    <span [data-feather]="'minus'"></span>
                </button>
                <p>{{numberOfTickets}}</p>
                <button type="button" (click)="ajouter()" class="btn btn-primary" rippleEffect>
                    <span [data-feather]="'plus'"></span>
                </button>
            </div>
            <p class="total"> Total : {{ totalPrice }} €</p>
        </form>
        <!-- bouton pour passer au paiement -->
        <button *ngIf="outOfStock==false && orderSucces==false && currentSession.remaningPlaces>0" [disabled]="loading" type="submit"(click)="order()"  class="btn btn-primary" rippleEffect tabindex="5">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Confirmer
        </button>
        <!-- bouton de retour à la page précédente du film choisis-->
        <button *ngIf="orderSucces==false" type="button" class="btn btn-outline-primary" (click)="pageReturn()"
            rippleEffect>Retour</button>
        <!-- bouton de retour à l'acceuil -->
        <button *ngIf="orderSucces==true" type="button" class="btn btn-primary" (click)="pageReturn()" rippleEffect>Revenir vers le site</button>
    </div>
    <div class="background-image" [style.background-image]="'url(' + currentSession.movie.baniereImageUrl+ ')'">
        <div class="affiche-container mt-3">
          <img class="affiche" [src]="currentSession.movie.imageUrl" alt="Card image" />
        </div>
        <div class="text-container mt-3 text-light">
          <h1 class="text-light" >{{currentSession.movie.title | uppercase}}</h1>
          <p>Sortie en {{currentSession.movie.releaseDate | date:'MMMM YYYY'}}</p>
          <div class="badge badge-pill badge-warning">{{convertMinutesToHours(currentSession.movie.durationTime)}}</div>
          <div class="badge badge-pill badge-info">{{currentSession.movie.category}}</div>
          <p class="mt-1">{{currentSession.movie.description}}</p>
        </div>
      </div>
    
</div>