.movie-card {
    height: 230px;
    position: relative;
    overflow: hidden;
}

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    transition: transform 0.3s;
    position: relative;
}

.movie-card:hover .background-image {
    transform: scale(1.03);
}

.movie-card .badge {
    position: relative;
    z-index: 1; /* Ensure badges are above the background image */
}

.div-card:hover a {
    color: #4186e0;
}

.margin-badge-one{
    margin-top: 5px;
    margin-bottom: 3px;
    margin-right: 5px;
}
.margin-badge-two{
    margin-top: 5px;
    margin-right: 5px;
}
