<div class="navbar-container d-flex content">
  <div class="bookmark-wrapper d-flex align-items-center">
    <!-- Menu Toggler | Menu icon will be hidden in case of layout without menu -->
    <ul class="nav navbar-nav d-xl-none" *ngIf="!coreConfig.layout.menu.hidden">
      <li class="nav-item">
        <a class="nav-link menu-toggle" (click)="toggleSidebar('menu')">
          <span [data-feather]="'menu'" [class]="'ficon'"></span>
        </a>
      </li>
    </ul>
    <!--/ Menu Toggler -->
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/']">
          <span class="brand-logo">
            <img src="https://th.bing.com/th/id/OIG.2Wh63PLBz0PRjAKjpQmD?pid=ImgGn" alt="brand-logo" width="36" />
          </span>
        </a>
      </li>
    </ul>
    <!-- <ul class="nav navbar-nav flex-row">
      <li class="nav-item">
        <input type="text" class="form-control" placeholder="Rechercher" />
      </li>
    </ul> -->
    <ul class="nav navbar-nav flex-row">
      <div>
        <li class="nav-item">
          <a [routerLink]="['/home']" class="nav-link" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
      </div>
      <div>
        <li   class="nav-item">
          <a class="nav-link menu-toggle" [routerLink]="['/sample']" [routerLinkActive]="'active'">
            Sample
          </a>
        </li>
      </div>
    </ul>

  </div>

  <ul class="nav navbar-nav align-items-center ml-auto">
    <!-- ? Language selection | Uncomment if needed-->
    <!-- <li ngbDropdown class="nav-item dropdown dropdown-language">
      <a class="nav-link dropdown-toggle" id="dropdown-flag" ngbDropdownToggle>
        <i class="flag-icon flag-icon-{{ languageOptions[_translateService.currentLang].flag }}"></i
        ><span class="selected-language">{{ languageOptions[_translateService.currentLang].title }}</span></a
      >
      <div ngbDropdownMenu aria-labelledby="dropdown-flag">
        <a *ngFor="let lang of _translateService.getLangs()" ngbDropdownItem (click)="setLanguage(lang)">
          <i class="flag-icon flag-icon-{{ languageOptions[lang].flag }}"></i> {{ languageOptions[lang].title }}
        </a>
      </div>
    </li> -->
    <!--/ Language selection -->
    <!-- Toggle skin -->
    <li class="nav-item d-none d-lg-block">
      <a type="button" class="nav-link nav-link-style btn" (click)="toggleDarkSkin()">
        <span [ngClass]="currentSkin === 'dark' ? 'icon-sun' : 'icon-moon'" class="ficon font-medium-5 feather"></span>
      </a>
    </li>
    <div class="nav-item d-none d-lg-block">
    </div>
    <!--/ Toggle skin -->
    <!-- User Dropdown -->
    <li ngbDropdown class="nav-item dropdown-user">
      <a
        class="nav-link dropdown-toggle dropdown-user-link"
        id="dropdown-user"
        ngbDropdownToggle
        id="navbarUserDropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <div class="user-nav d-sm-flex d-none" *ngIf="currentUser">
          <span class="user-name font-weight-bolder">{{
            currentUser.firstName + " " + currentUser.lastName | uppercase
          }}</span><span *ngIf="currentUser">{{currentUser.role }}</span>
        </div>
        <button
          type="button"
          class="btn btn-icon btn-icon rounded-circle btn-outline-primary"
          rippleEffect
        >
          <span [data-feather]="'user'"></span>
        </button>
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarUserDropdown" class="dropdown-menu dropdown-menu-right" >
        
        <a ngbDropdownItem *ngIf="currentUser && currentUser.role=='Administrateur'" [routerLink]="['/pages/users']"
        ><span  [data-feather]="'users'" [class]="'mr-50'"></span>Utilisateurs</a
        >
        <a ngbDropdownItem *ngIf="currentUser && currentUser.role=='Administrateur'" [routerLink]="['/pages/movies-admin']"
        ><span  [data-feather]="'video'" [class]="'mr-50'"></span>Films</a
        >

        <div class="dropdown-divider" *ngIf="currentUser && currentUser.role=='Administrateur'" ></div>

        <a ngbDropdownItem *ngIf="!currentUser" [routerLink]="['/pages/authentication/login-v2']"
        ><span  [data-feather]="'user'" [class]="'mr-50'"></span> Se Connecter</a
        >
        <a ngbDropdownItem *ngIf="currentUser" [routerLink]="['/pages/orders-list']"
        ><span  [data-feather]="'shopping-cart'" [class]="'mr-50'"></span>Mes réservations</a
        >
        <a ngbDropdownItem *ngIf="currentUser" [routerLink]="['/pages/account-settings']"
        ><span [data-feather]="'settings'" [class]="'mr-100'" ></span> Paramètres</a
        >
        <div class="dropdown-divider" ></div>

        <a ngbDropdownItem *ngIf="currentUser"  (click)="logout()"
          ><span [data-feather]="'power'" [class]="'mr-50'"></span> Se déconnecter</a
        >

        <a ngbDropdownItem *ngIf="!currentUser" [routerLink]="['/pages/registration']"
          ><span  [data-feather]="'user-plus'" [class]="'mr-50'"></span> S'inscrire</a
        >
        
      </div>
    </li>
    <!--/ User Dropdown -->
  </ul>
</div>
