<div>
  <div class="row pt-5  border-top">
    <div class="col-3">
      <img src="assets/images/icons/iconic.png" alt="logo icine" width="80" height="80"/>
      <p class="text-muted mt-2">I-Ciné © 2023</p>
    </div>
  
    <div class="col-3">
      <h5>Services</h5>
      <ul  class="nav flex-column">
        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted"  routerLink="/sample">À Propos</a></li>
      </ul>
    </div>
  
    <div class="col-3">
      <h5>Politique et confidentialité</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a target="_blank" class="nav-link p-0 text-muted" href="https://boulderbugle.com/politique-et-confidentialit-5wfghrw1">Mentions légales</a></li>
        <li class="nav-item mb-2"><a target="_blank" class="nav-link p-0 text-muted" href="https://boulderbugle.com/politique-et-confidentialit-5wfghrw1">Conditions générales de vente</a></li>
        <li class="nav-item mb-2"><a target="_blank" class="nav-link p-0 text-muted" href="https://boulderbugle.com/politique-et-confidentialit-5wfghrw1">Règles de confidentialité</a></li>
      </ul>
    </div>
  
    <div class="col-3">
      <h5>I-Ciné</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><p class="nav-link p-0 text-muted">La plateforme de vente de billets de cinéma en ligne. Découvrez ici tous les films sortis ou annoncés.</p></li>
  
      </ul>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" (click)="externalUrl1()"class="btn btn-icon btn-icon rounded-circle btn-primary m-1" rippleEffect>
      <span [data-feather]="'facebook'"></span></button
    >
    <button type="button" (click)="externalUrl2()" href="" class="btn btn-icon btn-icon rounded-circle btn-primary m-1" rippleEffect>
      <span [data-feather]="'twitter'"></span></button
    >
    <button type="button" (click)="externalUrl3()" href="" class="btn btn-icon btn-icon rounded-circle btn-primary m-1" rippleEffect>
      <span [data-feather]="'instagram'"></span></button
    >
  </div>
</div>
