<div class="content-wrapper container-xxl p-0 mt-2">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
   
    <div >
      <div class="row mb-2">
        <div class=" col-12 pr-sm-1">
          <div class="input-group input-group-merge">
            <input
              type="text"
              class="form-control"
              name="search"
              placeholder="Rechercher"
              [(ngModel)]="keyword" (ngModelChange)="update()"
            />
            <div class="input-group-append">
              <span class="input-group-text cursor-pointer">
                <i data-feather="search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      
      <div *ngIf="ordersList.length == 0">
        <p>Pas de réservations</p>
      </div>
      
      <div class="row" id="basic-table" *ngIf="ordersList && ordersList.length > 0">
        <div class="col-12">
          <div class="card">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>E-mail</th>
                    <th>Tickets</th>
                    <th>Total</th>
                    <th>Date de réservation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of ordersList">
                    <td >{{order.id}}</td>
                    <td >{{order.user.lastName | uppercase}} </td>
                    <td >{{order.user.firstName}}</td>
                    <td >{{order.user.email}}</td>
                    <td >{{order.places}}</td>
                    <td >{{order.amount}}</td>
                    <td >{{order.createdAt | date:'d MMMM YYYY HH:mm'}}</td>
                  </tr>
                </tbody>
              </table>
              <nav class="m-2">
                <div class="d-flex align-items-center">
                  <ul class="pagination mb-0">
                    <li class="page-item" [class.disabled]="page == 1">
                      <a class="page-link" (click)="prevPage()">Précédent</a>
                    </li>
                    <ng-container *ngFor="let i of totalPages">
                      <li class="page-item"  [class.active]="i == page">
                        <a class="page-link" (click)="page=i">{{i+1}}</a>
                      </li>
                    </ng-container>
                    <li class="page-item" [class.disabled]="totalPages ==page">
                      <a class="page-link" (click)="nextPage()">Suivant</a>
                    </li>
                  </ul>
                  <label class="d-flex align-items-center mx-2 mb-0">
                    Afficher
                    <select class="form-control mx-2 selectPageSortWidth" [(ngModel)]="size" (ngModelChange)="update()">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                    </select>
                    lignes
                  </label>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  

  
